body {
  margin: 0px;
  font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: .875rem;
}
.page {  

  background-image: url('/landing_page_bg.svg'); /* Update the path */
  background-size: cover;
  background-position: center;

  width: 100vw;
  height: 100vh;
  background-color: #222831;
  text-align: center;
  display: table-cell;
  vertical-align: middle;     
}
.text-container {
  background-color: #f0f0f0; /* Adjust the background color as needed */
  padding: 16px;
  border-radius: 8px; /* Add rounded corners if desired */
  margin: 16px; /* Add margin to separate it from the page background */
}


/* Auth Page */
.logo {
  font-size: 32px; 
  padding-bottom: 12px;
}
.text {
  padding-bottom: 12px;
  color: #14d8e2;
}
.white-text {
  color: white;
}

.blue-text {
  color: #14d8e2;
}

.button {
  background-color: #14a37f;
  border: none;
  padding: .5rem .75rem;
  color: white;
  font-size: .875rem;
  border-radius: .25rem;
  cursor: pointer;
  margin-left: 0.5rem;
}
.button:hover {
  background-color: #10886a;
}